<nz-layout>
    <nz-sider>
        <ul nz-menu nzMode="inline">
            <li nz-submenu nzTitle="Equiment Fleet" [(nzOpen)]="openMap.sub1" (nzOpenChange)="openHandler('sub1')" >
                <ul>
                    <li nz-menu-item>Loaders</li>
                    <li nz-menu-item>Trucks</li>
                    <li nz-menu-item>Jumbos</li>
                    <li nz-menu-item>Long Hole Rigs</li>
                    <li nz-menu-item>Charger Trucks</li>
                    <li nz-menu-item>Forklifts</li>
                    <li nz-menu-item>LVs</li>
                    <li nz-menu-item>Other</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Manpower" [(nzOpen)]="openMap.sub2" (nzOpenChange)="openHandler('sub2')" >
                <ul>
                    <li nz-menu-item>Loaders Operators</li>
                    <li nz-menu-item>Trucks Operators</li>
                    <li nz-menu-item>Jumbos Operators</li>
                    <li nz-menu-item>Long Hole Rigs Operators</li>
                    <li nz-menu-item>Charger Trucks Operators</li>
                    <li nz-menu-item>Forklifts Operators</li>
                    <li nz-menu-item>LVs Operators</li>
                    <li nz-menu-item>Other Operators</li>
                </ul>
            </li>
            <li nz-menu-item>Consumables</li>
            <li nz-menu-item>Ore Parameters</li> 
            <li nz-submenu nzTitle="Productivity" [(nzOpen)]="openMap.sub3" (nzOpenChange)="openHandler('sub3')" >
                <ul>
                    <li nz-menu-item>Loaders</li>
                      <li nz-menu-item>Trucks</li>
                      <li nz-menu-item>Jumbos</li>
                      <li nz-menu-item>Long Hole Rigs</li>
                      <li nz-menu-item>Charger Trucks</li>
                      <li nz-menu-item>Forklifts</li>
                      <li nz-menu-item>LVs</li>
                      <li nz-menu-item>Other</li>
                </ul>
            </li>
          </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>Header</nz-header>
      <nz-content>Content</nz-content>
    </nz-layout>
  </nz-layout>