<nz-layout>
    <nz-sider>
        <ul nz-menu nzMode="inline">
            <li nz-submenu nzTitle="Equiment Fleet" [(nzOpen)]="openMap.sub1" (nzOpenChange)="openHandler('sub1')" >
                <ul>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Loaders</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Trucks</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Jumbos</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Long Hole Rigs</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Charger Trucks</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Forklifts</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>LVs</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Other</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Manpower" [(nzOpen)]="openMap.sub2" (nzOpenChange)="openHandler('sub2')" >
                <ul>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Loaders Operators</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Trucks Operators</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Jumbos Operators</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Long Hole Rigs Operators</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Charger Trucks Operators</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Forklifts Operators</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>LVs Operators</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Other Operators</li>
                </ul>
            </li>
            <li nz-menu-item>Consumables</li>
            <li nz-menu-item>Ore Parameters</li> 
            <li nz-submenu nzTitle="Productivity" [(nzOpen)]="openMap.sub3" (nzOpenChange)="openHandler('sub3')" >
                <ul>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Loaders</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Trucks</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Jumbos</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Long Hole Rigs</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Charger Trucks</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Forklifts</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>LVs</li>
                    <li nz-menu-item><i class="fa fa-truck" aria-hidden="true"></i>Other</li>
                </ul>
            </li>
          </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>Header</nz-header>
      <nz-content>Content</nz-content>
    </nz-layout>
  </nz-layout>