<p>manpower works!</p>


<div [ngSwitch]="menuActivated">
    <!-- <pre *ngSwitchDefault>ng generate component xyz</pre> -->
    <pre *ngSwitchCase="'loaders'">loaders</pre>
    <pre *ngSwitchCase="'trucks'">trucks</pre>
    <pre *ngSwitchCase="'jumbos'">jumbos</pre>
    <pre *ngSwitchCase="'longhole'">longhole</pre>
    <pre *ngSwitchCase="'charger'">charger</pre>
    <pre *ngSwitchCase="'forklifts'">forklifts</pre>
    <pre *ngSwitchCase="'lvs'">lvs</pre>
    <pre *ngSwitchCase="'others'">others</pre>
</div>