<div class="animate__animated animate__fadeIn">

    <p>equipment-fleet works!</p>
    
    <div [ngSwitch]="menuActivated">
        <!-- <pre *ngSwitchDefault>ng generate component xyz</pre> -->
        <nz-card *ngSwitchCase="'loaders'" nzTitle="Quantity">
            <p>Number of loaders</p>
            <nz-slider></nz-slider>
            <p>Card content</p>
            <p>Card content</p>
            <p>Card content</p>
        </nz-card>
        <pre *ngSwitchCase="'trucks'">trucks</pre>
        <pre *ngSwitchCase="'jumbos'">jumbos</pre>
        <pre *ngSwitchCase="'longhole'">longhole</pre>
        <pre *ngSwitchCase="'charger'">charger</pre>
        <pre *ngSwitchCase="'forklifts'">forklifts</pre>
        <pre *ngSwitchCase="'lvs'">lvs</pre>
        <pre *ngSwitchCase="'others'">others</pre>
    </div>
</div>