<div class="animate__animated animate__fadeIn">

    <p>equipment-fleet works!</p>
    
    <div [ngSwitch]="menuActivated">
        <!-- <pre *ngSwitchDefault>ng generate component xyz</pre> -->
        <div *ngSwitchCase="'loaders'">
            <app-equipment-fleet-form>

            </app-equipment-fleet-form>
            <!-- <div class="row my-3" >
                <div class="col">
                    <nz-card  nzTitle="Quantity">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Number of loaders</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <nz-slider #slider></nz-slider>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col">
                                        Loaders
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{slider.value}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col">
                                        Operators
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{slider.value}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nz-card>
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <nz-card nzTitle="Equipment Costs">
                        <div class="row">
                            <div class="col-md-4">
                                <p>Purchase price</p>
                            </div>
                            <div class="col-md-8">
                                <nz-input-group nzAddOnAfter="$">
                                    <input type="text" nz-input />
                                </nz-input-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p>Salvage Value</p>
                            </div>
                            <div class="col-md-8">
                                <nz-input-group nzAddOnAfter="$">
                                    <input type="text" nz-input />
                                </nz-input-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p>Useful Life</p>
                            </div>
                            <div class="col-md-8">
                                <nz-input-group nzAddOnAfter="Hrs">
                                    <input type="text" nz-input />
                                </nz-input-group>
                            </div>
                        </div>
                    </nz-card>
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <nz-card nzTitle="Equipment Consumables">
                        <div class="row">
                            <div class="col-md-4">
                                <p>Fuel consumption</p>
                            </div>
                            <div class="col-md-8">
                                <nz-input-group nzAddOnAfter="L/hr">
                                    <input type="text" nz-input />
                                </nz-input-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p>Fuel Unit Price</p>
                            </div>
                            <div class="col-md-8">
                                <nz-input-group nzAddOnAfter="$/L">
                                    <input type="text" nz-input />
                                </nz-input-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p>Average Life of Tyres</p>
                            </div>
                            <div class="col-md-8">
                                <nz-input-group nzAddOnAfter="Hrs">
                                    <input type="text" nz-input />
                                </nz-input-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p>Cost of set of tyres</p>
                            </div>
                            <div class="col-md-8">
                                <nz-input-group nzAddOnAfter="$">
                                    <input type="text" nz-input />
                                </nz-input-group>
                            </div>
                        </div>
                    </nz-card>
                </div>
            </div> -->
        </div>
        
        
        <pre *ngSwitchCase="'trucks'">trucks</pre>
        <pre *ngSwitchCase="'jumbos'">jumbos</pre>
        <pre *ngSwitchCase="'longhole'">longhole</pre>
        <pre *ngSwitchCase="'charger'">charger</pre>
        <pre *ngSwitchCase="'forklifts'">forklifts</pre>
        <pre *ngSwitchCase="'lvs'">lvs</pre>
        <pre *ngSwitchCase="'others'">others</pre>
    </div>
</div>