<div class="animate__animated animate__fadeIn">
    <div [ngSwitch]="menuActivated">
        <!-- <pre *ngSwitchDefault>ng generate component xyz</pre> -->
        <div *ngSwitchCase="'loaders'">
            <app-equipment-fleet-form
                [truckType]="'Loaders'"
            >

            </app-equipment-fleet-form>
            
        </div>
        
        
        <div *ngSwitchCase="'trucks'">
            <app-equipment-fleet-form
                [truckType]="'Trucks'"
            >

            </app-equipment-fleet-form>
        </div>
        <div *ngSwitchCase="'jumbos'">
            <app-equipment-fleet-form
                [truckType]="'Jumbos'"
            >

            </app-equipment-fleet-form>
        </div>
        <div *ngSwitchCase="'longhole'">
            <app-equipment-fleet-form
                [truckType]="'Long Hole Rigs'"
            >

            </app-equipment-fleet-form>
        </div>
        <div *ngSwitchCase="'charger'">
            <app-equipment-fleet-form
                [truckType]="'Charger Trucks'"
            >

            </app-equipment-fleet-form>
        </div>
        <div *ngSwitchCase="'forklifts'">
            <app-equipment-fleet-form
                [truckType]="'Forklifts'"
            >

            </app-equipment-fleet-form>
        </div>
        <div *ngSwitchCase="'lvs'">
            <app-equipment-fleet-form
                [truckType]="'LVs'"
            >

            </app-equipment-fleet-form>
        </div>
        <div *ngSwitchCase="'others'">
            <app-equipment-fleet-form
                [truckType]="'Others'"
            >

            </app-equipment-fleet-form>
        </div>
    </div>
</div>